.react-paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.react-paginate ul{
    text-align: center;
    display: flex !important;
    justify-content: center;
    list-style: none;
    margin: 1em 0;
    width: 10em;


}
.react-paginate ul li{
    padding: 10px;
    display: inline-block !important;
    cursor: pointer;

}

.react-paginate li:hover{
    padding: 10px;
    display: inline-block !important;
    cursor: pointer;

}

.react-paginate a:hover {
    border: 1px solid 'dark';
    color: darkcyan;
}